<!-- About -->
<section class="bg-light page-section standalone" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading-yellow text-uppercase">{{ site.data.sitetext[site.locale].about.title | markdownify | default: "About Us" }}</h2>
        <h3 class="section-subheading-black text-muted">{{ site.data.sitetext[site.locale].about.text | markdownify | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted p-black">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
<!-- End About -->