<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].certifications.section | default: "about" }}">
<div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-subheading text-uppercase large text-muted">{{ site.data.sitetext[site.locale].certifications.text | markdownify }}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
        {% for certification in site.data.sitetext[site.locale].certifications.certs %}
          <div class="cert-item d-flex align-items-center">
            <img class="img-fluid cert-image" src="{{ certification.logo }}" alt="">
            <div class="col-lg-8 mx-auto text-center">
              <h4 class="mg-auto textcenter cert-name"> {{ certification.name }} </h4>
              <h5 class="text-muted cert-description">{{ certification.description }}</h5>
            </div>
          </div>
        {% endfor %}
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h3 class="section-subheading  text-muted">{{ site.data.sitetext[site.locale].certifications.footer | markdownify }}</h3>
      </div>
    </div>
  </div>
</section>
<!-- End About -->