<div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase mb-5">Testimonials</h2>
	</div>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="row row-vertical-align">
          <img class="rounded-circle shadow-1-strong mb-4 ml-4" src="https://scontent-fra3-1.xx.fbcdn.net/v/t1.18169-1/12316650_951874071524925_1559835515699730702_n.jpg?stp=c0.120.720.720a_cp0_dst-jpg_s40x40&_nc_cat=101&ccb=1-7&_nc_sid=e4545e&_nc_ohc=Vqcg5mWIod4Q7kNvgGpS1_a&_nc_ht=scontent-fra3-1.xx&oh=00_AYBLtH9fgau1UNBcRFwgEl-Nih-xj_3fePMiVuyzLfs7Ng&oe=670278AD" alt="First slide" width="50px">
          <h5 class="mb-3 ml-3">Treasa O Cualain</h5>
          </div>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            Brought our puppy for its first visit to this practice & had a wonderful experience. A thorough check up, we didn’t feel rushed & the vet was happy to answer any questions we had regarding puppy care. We got great advice regarding; worming etc.. He was so gentle & caring, our dog loved him even after its vaccine! Míle buíochas!
          </p>
        </div>
      </div>
      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
      </ul>
    </div>
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="row row-vertical-align">
          <img class="rounded-circle shadow-1-strong mb-4 ml-4" src="https://lh3.googleusercontent.com/a-/ALV-UjWYAysqI-P7AaLHcPFTdlJZF9kgrXM__JopFIKsvfbjMguMXjciFQ=w45-h45-p-rp-mo-br100" alt="Second slide" width="50px">
          <h5 class="mb-3 ml-3">Stephanie Klapp</h5>
          </div>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            Discovered this practise after return from Germany through a friend. Cannot praise them highly enough. They came out to put my wee dog to sleep after the vet practise who had treated his illness for past few months (due to being so nearby) refused to come out. John, however, despite not knowing me, travelled from Barna to help us. He did so with patience, kindness, and gentleness towards my dog. I am so very impressed and eternally grateful. Would recommend without slightest hesitation.
          </p>
        </div>
      </div>
      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
      </ul>
    </div>
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="row row-vertical-align">
          <img class="rounded-circle shadow-1-strong mb-4 ml-4" src="https://lh3.googleusercontent.com/a-/ALV-UjW85UNTXXaosinqiibLfThOiimHLrem_6aWIVUPimztPqNfWp8=w45-h45-p-rp-mo-ba3-br100" alt="Third slide" width="50px">
          <h5 class="mb-3 ml-3">Karen Colgan</h5>
          </div>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            The Best Vets in County Galway if not the country. Sara saved my dogs life last year May 22. He is alive and well at 13 a year later. I took him there after a Vet in Barna had more or less said put him to sleep. I had him out to Sara for a groom as he very anxious couple weeks ago. He is on a weight loss plan now too. Genuine and caring herself and her VET partner. And they are very reasonable price wise.
          </p>
        </div>
      </div>
      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
      </ul>
    </div>
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="row row-vertical-align">
          <img class="rounded-circle shadow-1-strong mb-4 ml-4" src="https://lh3.googleusercontent.com/a/ACg8ocIOlO2-bwI5l34-HKfgJunZm4-a2EjvS3v0lW23fVWWsIl3TbSR=w45-h45-p-rp-mo-ba3-br100" alt="Fourth slide" width="50px">
          <h5 class="mb-3 ml-3">Mick Donegan</h5>
          </div>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            Great vets. Have brought my dogs here and the care they got was second to none. John and Sarah are both really knoweglagable and passionate about animals and their care. They take their time to explain what is going on with my dogs (even going to the extent of drawing out anatomical drawings of the areas with issues). Couldn't recommend more highly.
          </p>
        </div>
      </div>
      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
      </ul>
    </div>
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="row row-vertical-align">
          <img class="rounded-circle shadow-1-strong mb-4 ml-4" src="https://lh3.googleusercontent.com/a-/ALV-UjUsgtMgvQi0C8BpDkhuLIXpEV0icThR044C7rLaJKBA7l7zZfdzaQ=w45-h45-p-rp-mo-br100" alt="Fifth slide" width="50px">
          <h5 class="mb-3 ml-3">Fionnuala Ni Eidhin</h5>
          </div>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            Our little Bear was so sick. On Tuesday it was a call to put him down or send him to Dublin. Sarah and John stayed with Bear all night that night and took care of him. He was so weak.  Our little hearts were broken. He is like our child. Our children's brother. They kept us informed every step of the way re texts and calls. Let family members visit. Sent his bloods to England. They went above and beyond in their care for Bear and us. The bill was under what we expected. We will be grateful forever. Bear is like a new boy. They go above and beyond for animals and those who love them. We will always be so thankful 😊 We still have Bear because of their expertise and their care. Thank you always, Gareth, Peppe, Leo and Fionnuala x
          </p>
        </div>
      </div>
      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
      </ul>
    </div>
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="row row-vertical-align">
          <img class="rounded-circle shadow-1-strong mb-4 ml-4" src="https://lh3.googleusercontent.com/a-/ALV-UjX8tKjWVmdEH3UOKWFe6dEoqwT0_geuvRZGP2CbcBj-GvBNSLnV=w45-h45-p-rp-mo-ba3-br100" alt="Fifth slide" width="50px">
          <h5 class="mb-3 ml-3">Brid Ann Curran</h5>
          </div>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            What a great service.  Visited after hours and had no hassle in giving me appointment.  Had a conversation with me over the phone first that was very reassuring.
Spotlessly clean, John was our veterinary doctor and he was very thorough in his examination.   He arranged surgery for the following few days and I have to say I was never as relaxed about leaving a pet for surgery.  Aftercare was brilliant and we collected a very happy wlittle pet in the evening.    Reasonably priced compared to other veterinary practices in the area.  They treat large and small animals which is great and also do call outs.   Will definitely be returning.   We'll done to John & his team.
          </p>
        </div>
      </div>
      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
      </ul>
    </div>
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <div class="row row-vertical-align">
          <img class="rounded-circle shadow-1-strong mb-4 ml-4" src="https://lh3.googleusercontent.com/a-/ALV-UjVBFYDrJGvDApe68myjeUjJSylmXydvo8NOMr41mfUZDJxhS-mKew=w45-h45-p-rp-mo-ba4-br100" alt="Fifth slide" width="50px">
          <h5 class="mb-3 ml-3">Mairéad Nic Dhonnacha</h5>
          </div>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
            Fantastic. My dog needed her leg amputated and they were so nice with her and kept me updated and gave me follow up call when she came home to make sure she was feeling ok. From the first day i bought my dog here they have been amazing. Diaz loves them... I mean dogs don't usually exactly like going to the vets but Diaz loves these vets! Couldn't recommend them enough!
          </p>
        </div>
      </div>
      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
        <li><i class="fas fa-star fa-sm"></i></li>
      </ul>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>