
<div class="container">
    <ul class="services services-nav">
    <div class="row text-center">
    {% for service in site.data.sitetext[site.locale].services.list %}
        <div class="col-md-4">
        <span class="fa-stack fa-4x service-hyperlink">
            <a href="{{service.link}}"><i class="fas fa-circle fa-stack-2x service-icon service-hyperlink"></i></a>
            <a href="{{service.link}}"><i class="fas fa-circle fa-stack-2x secret-service"></i></a>
            <a href="{{service.link}}"><i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i></a>
            <a href="{{service.link}}"><i class="{{ service.icon }} fa-stack-1x fa-inverse fa-beat secret-service-icon"></i></a>
        </span>
            <h4 class="service-heading">{{ service.title | markdownify }}</h4>
            <div class="text-muted">{{ service.desc | markdownify }}</div>
        </div>
    {% endfor %}
    </div>
    </ul>
</div>