
<!-- Services -->
<section class="page-section" id="services_large">
  <div class="container">
  <ul class="services">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services_small.title }}</h2>
        {% if site.data.sitetext[site.locale].services.text %}
          <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].services_small.text }}</h3>
        {% endif %}
      </div>
    </div>
    <div class="row text-center">
    {% for service in site.data.sitetext[site.locale].services_large.list %}
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          {% if service.image %}
            <img class="service-image mx-auto img-fluid rounded-circle " src="{{ service.image }}" alt="{{ service.alt | default ""}}">
          {% elsif service.icon %}
          <i class="fas fa-circle fa-stack-2x service-icon"></i>
          <i class="{{ service.icon }} fa-stack-1x fa-inverse"></i>
          {% endif %}
        </span>
          <h4 class="service-heading">{{ service.title | markdownify }}</h4>
          {% if service.desc %}<div class="text-muted">{{ service.desc | markdownify }}</div>{% endif %}
        </div>
    {% endfor %}
    </div>
  </ul>
  </div>
</section>
<!-- End Services -->