<!-- Services -->
<section class="page-section standalone bg-light reduce-padding" id="services">
  <div class="container">
  <ul class="services">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services.title }}</h2>
        {% if site.data.sitetext[site.locale].services.text %}
          <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].services.text }}</h3>
        {% endif %}
      </div>
    </div>
  </ul>
  </div>
</section>
<!-- End Services -->