<div class="row d-flex justify-content-center">
    {% for person in site.data.sitetext[site.locale].team.people %}
      <div class="col-sm-8">
        <div class="team-member" id="{{ person.name }}">
          <img class="mx-auto rounded-circle" src="{{ person.image }}" alt="{{person.name}}">
          <h4>{{ person.name }}</h4>
          <p class="text-muted">{{ person.role }}</p>
          <ul class="list-inline social-buttons">
          {% for network in person.social %}
            <li class="list-inline-item">
              <a href="{{ network.url }}">
                <i class="{{ network.icon }}"></i>
              </a>
            </li>
          {% endfor %}
          </ul>
          <p>{{ person.text }}</p>
        </div>
      </div>
    {% endfor %}
</div>