// Styling for the navbar
// Generic styling. This is the form for the yellow mobile version
#mainNav {
  background-color: $yellow;
  font-size: 16px;
  @include quicksand-font;
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $black;
        font-weight: 500;
        padding: 0.75em 0;
        letter-spacing: 1px;
        &.active,
        &:hover {
          color: $energy;
        }
      }
    }
    .services-dropdown-menu {
      padding-left: 10px;
      background-color: inherit;
      margin-top: 0px; // prevent clipping
    }
  }
  // Open dropdown on mobile application
  .navbar-toggler {
    right: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    border: 1px solid black;
    color: black;
  }
  .navbar-brand {
    color: $yellow;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px $black;
    &:active,
    &:focus,
    &:hover {
      color: darken($white, 20%);
    }
  }
}
// Desktop application
@media (min-width: 768px) {
  #mainNav {
    color: $white;
    background-color: rgba( 00, 00, 00, 0.6);
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    border-bottom: 3px rgba( 00, 00, 00, 0.7) solid;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .services-dropdown-menu{
        background-color: rgba( 00, 00, 00, 0.6);
        border: 2px solid $white;
      }
      .nav-item {
        .nav-link {
          color: $white;
          padding: 1.1em 1em !important;
        }
      }
    }
    // Enter this when scrolling down
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $yellow;
      .navbar-brand {
        padding: 12px 0;
      }
      .services-dropdown:hover .services-dropdown-menu {
        display: block;
        margin-top: 0px;
        background-color: $yellow;
        border: 2px solid $dark;
      }
      .nav-item {
        .nav-link{
          color: $black;
          &:active,
          &:focus,
          &:hover {
            color: $energy;
            background-color: darken($yellow, 20%);
          }
        }
      }
    }
  }
}
