// Styling for the navbar
#mainNav {
  background-color: $dark;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $dark;
    @include heading-font;
  }
  .navbar-brand {
    color: $yellow;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px black;
    @include alfaslab-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($yellow, 20%);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $white;
        @include heading-font;
        &.active,
        &:hover {
          color: $dark;
        }
      }
    }
    .services-dropdown-menu {
      background-color: transparent;
      padding-left: 10px;
    }
  }
}
@media (min-width: 768px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .services-dropdown-menu{
        background-color: transparent;
        border: 2px solid $white;
      }
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    // Open dropdown menu when the dropdown item is hovered
    .services-dropdown:hover .services-dropdown-menu {
      display: block;
      margin-top: 0px;
      background-color: transparent;
      border: 2px solid $white;
    }
    // Enter this when scrolling down
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $dark;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
      .services-dropdown:hover .services-dropdown-menu {
        display: block;
        margin-top: 0px;
        background-color: $dark;
        border: 2px solid $dark;
      }
    }
  }
}
