// Styling for the contact section
section#contact {
  background-color: $dark;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;
  // .contact-row{
  //   background-color: $yellow;
  //   border: 5px $gray-200 solid;
  //   padding-top: 5%;
  //   padding-bottom: 5%;
  // }
  .contact-phone{
    color: $yellow;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: monospace;
    width: 160px;
    .contact-phone-icon{
      float: left;
      color: $energy;
    }
    .contact-phone-text{
      float: right;
    }
    .contact-phone-linked{
      &:focus,
      &:active,
      &:hover{
        font-style: underline;
        color: $energy;
      }
    }
  }
  .contact-email{
    color: $yellow;
    margin-top: 20px;
    margin-bottom: 35px;
    font-family: monospace;
    .contact-email-icon{
      padding-right: 15px;
      color: rgb(2, 214, 129);
    }
  }
  .contact-address{
    margin-top: 0;
    margin-bottom: 15px;
    color: $yellow;
    .contact-address-text{
      font-family: monospace;
      font-style: italic;
      font-size: 12px;
    }
    .contact-address-eircode{
      font-family: monospace;
    }
    .contact-address-icon{
      padding-right: 30px;
      color: rgb(0, 213, 64);
    }
  }
  .contact-timetable{
    border: 8px solid $yellow;
    background-color: $gray-200;
  }
  .contact-map{
    border: 8px solid $yellow;
    padding-left: 0;
    padding-right: 0;
  }
  .contact-map-iframe{
    width: 100%;
    height: 100%;
    background-color: $gray-200;
  }
  .section-heading {
    color: $white;
  }
}
