// Styling for the contact section
section#contact {
  background-color: $dark;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;
  font-size: 24px;
    .contact-phone{
    color: $yellow;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: monospace;
    width: 300px;
    justify-content: center;
    align-items: center;
    .contact-phone-icon{
      float: left;
      color: $energy;
      margin-right: 15px;
    }
    .contact-phone-text{
      float: right;
    }
    .contact-phone-linked{
      &:focus,
      &:active,
      &:hover{
        font-style: underline;
        color: $energy;
      }
    }
  }
  .contact-email{
    color: $yellow;
    margin-top: 20px;
    margin-bottom: 35px;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    .contact-email-icon{
      padding-right: 15px;
      color:  $energy;
    }
    .contact-email-text{
      float: right;
    }
  }
  .contact-address{
    margin-top: 0;
    margin-bottom: 15px;
    color: $yellow;
    justify-content: center;
    align-items: center;
    .contact-url-link{
      color: inherit;
      white-space: nowrap;
      justify-content: center;
      align-items: center;
      &:focus,
      &:active,
      &:hover{
        font-style: underline;
        color: $energy;
      }
      .contact-address-text{
        font-family: monospace;
        font-style: normal;
      }
      .contact-address-icon{
        padding-right: 30px;
        color:  $energy;
      }
    }
  }
  .contact-timetable{
    border: 8px solid $yellow;
    background-color: $gray-200;
    caption{
      font-style: italic;
      font-size: 22px;
    }
  }
  .contact-map{
    border: 8px solid $yellow;
    padding-left: 0;
    padding-right: 0;
  }
  .contact-map-iframe{
    width: 100%;
    height: 100%;
    background-color: $gray-200;
  }
  .section-heading {
    color: $white;
  }
}

ul.social-buttons {
  margin-bottom: 0;
  li {
    a {
      font-size: 20px;
      line-height: 45px;
      display: block;
      width: 50px;
      height: 50px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      border-radius: 100%;
      border: 3px solid $white;
      background-color: $dark;
      &:active,
      &:focus,
      &:hover {
        border: 3px solid $energy;
        color: $energy;
      }
    }
  }
  .socials-instagram{
    background: linear-gradient(  #f9ce34, #ee2a7b, #6228d7);
    color: "white";
    &:active,
    &:focus,
    &:hover {
      background: linear-gradient(  #b59624, #a21c54, #5622bd);
    }
  }
  .socials-facebook{
    background: #4267B2;
    color: "white";
    &:active,
    &:focus,
    &:hover {
      background: #2d4679;
    }
  }
}

@media (min-width: 0px) {
  .contact-phone,
  .contact-email,
  .contact-address {
    font-size: 18px;
  }
}
@media (min-width: 576px) {
  .contact-phone,
  .contact-email,
  .contact-address {
    font-size: 24px;
  }
}

@media (min-width: 992px) {
  .contact-phone,
  .contact-email,
  .contact-address {
    font-size: 34px;
  }
}