.gallery {
  .gallery-image {
    margin: 5px;
    border: 1px solid #ccc;
    object-fit: cover;
    // bootstrap small devices (2 on each row)
    height: 300px;
    width: 300px;
  }
  &:hover {
    border: 1px solid #777;
  }
}
// bootstrap medium devices (3 on each row)
@media (min-width: 768px) {
  .gallery{
    .gallery-image {
      height: 250px;
      width: 250px;
    }
  }
}
// bootstrap large devices (4 on each row)
@media (min-width: 991px) {
  .gallery{
    .gallery-image {
      height: 250px;
      width: 250px;
    }
  }
}
@media (min-width: 1200px) {
  .gallery{
    .gallery-image {
      height: 300px;
      width: 300px;
    }
  }
}
@media (min-width: 1600px) {
  .gallery{
    .gallery-image {
      height: 350px;
      width: 350px;
    }
  }
}