// Styling for the masthead
header.masthead {
  text-align: center;
  color: $highlight;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      -webkit-text-stroke: 2px $black;
      text-shadow: 2px 2px $highlight;
      @include alfaslab-font;
    }
  }
  .masthead-button{
    border: 3px $black solid;
    box-shadow: 12px 12px $black;
    color: $black;
    margin-top: 30px;
    padding: 15px 30px;
    &:hover {
      border: 5px red;
      color: red;
    }
  }
  .masthead-button-icon{
    margin-right: 5px;
    height: 100%;
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include alfaslab-font;
      }
    }
  }
}
