// Styling for the services sections
.services {
  position: relative;
  padding: 0;
  list-style: none;
  // hidden icon to display on hover
  .secret-service{
    display: none;
    color: $yellow;
    z-index: 2;
  }
  .secret-service-icon{
    display: none;
    color: $energy;
    z-index: 2;
  }
  .service-hyperlink.service-icon{
    color: $energy;
  }
  // Display hidden icon!
  .service-hyperlink:hover .secret-service{
    cursor: pointer;
    display: inline;
  }
  .service-hyperlink:hover .secret-service-icon{
    display: inline;
  }
  .services-heading {
    margin: 15px 0;
    text-transform: none;
  }
  .service-body {
    > ul,
    > p {
      margin-bottom: 0;
    }
  }
  .service-panel {
    margin-bottom: 50px;
    text-align: center;
  }
  .service-icon{
    color: $yellow;
  }
  .service-image {
    position: relative;
    z-index: 100;
    left: 0;
    height: 100%;
    margin-left: 0;
    padding: 5%;
    text-align: center;
    justify-content: center;

    color: $white;
    border: 7px solid $gray-200;
    border-radius: 100%;
    background-color: $yellow;
  }
  .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 25px;
  }
}
.services-nav{
  padding-top: 30px;
}


@media (min-width: 768px) {
  .service {
  .service-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .service-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 25px;
  }
  }
  .services-category-header {
    .services-category-text{
      padding-top: 200px;
      padding-bottom: 50px;
      .services-category-text{
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include quicksand-font;
      }
    }
  }
  .equine-category-header {
    // background-image: url("#{$equine-header-image}");
  }
}
@media (min-width: 992px) {
  .service {
    min-height: 150px;
    .service-panel {
      padding: 0 20px 20px;
    }
    .service-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
  }
}
@media (min-width: 1200px) {
  .service {
    min-height: 170px;
    .service-panel {
      padding: 0 20px 20px 100px;
    }
    .service-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .h4 {
      margin-top: 40px;
    }
}
}

.reduce-padding {
	padding-bottom: 5px !important;
}